.data-container{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}
.event-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    width:20%;
  }
  
  .event-name {
    margin-top: 0;
  }
  
  .event-details p {
    margin: 5px 0;
  }
  
  .event-details p span {
    font-weight: bold;
  }
  
  .register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  
  .email-input {
    margin-top: 20px;
  }
  
  .email-input input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  